{#def request,title='' #}
<!doctype html>
<html lang="en" data-theme="lofi">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="Site Title" />
  <meta name="twitter:creator" content="Site Creator" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{% block description %}{% endblock %}" />
  {#
  <meta name="twitter:image" content="{{ url_for('static', path=embed_image_path if embed_image_path else 'images/embed.png') }}" /> #}

  <script src="https://unpkg.com/htmx.org@1.8.5"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>

  <Tracking />

  {% block header %}
  {% endblock %}
</head>

<body class="flex min-h-screen flex-col">
  <Navbar request={request} />
  <main class="grow m-4">
    {{content}}
  </main>
  <Footer></Footer>
</body>

</html>